AWS_IOT_ENDPOINT=example-endpoint.iot.us-east-1.amazonaws.com
AWS_IOT_CERT_PATH=certs/device_cert.pem
AWS_IOT_THING_NAME=test-thing
AWS_IOT_FACILITY_ID=facility-1
AWS_IOT_ZONE_ID=zone-1
PYTHONUNBUFFERED=1