services:
  teraspot-fog:
    build: .
    container_name: teraspot-fog
    restart: unless-stopped
    environment:
      AWS_IOT_ENDPOINT: ${AWS_IOT_ENDPOINT}
      AWS_IOT_CERT_PATH: ${AWS_IOT_CERT_PATH}
      AWS_IOT_THING_NAME: ${AWS_IOT_THING_NAME}
      AWS_IOT_TOPIC: ${AWS_IOT_TOPIC}
      PYTHONUNBUFFERED: ${PYTHONUNBUFFERED}
    stdin_open: true
    tty: true
    command: python src/edge_publisher.py --iterations -1 --interval 5 --use-yolo
